@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif; }

.clearfix {
  clear: both; }

.font8 {
  font-size: 8px; }

.font9 {
  font-size: 9px; }

.font10 {
  font-size: 10px; }

.font11 {
  font-size: 11px; }

.font12 {
  font-size: 12px; }

.font13 {
  font-size: 13px; }

.font14 {
  font-size: 14px; }

.font15 {
  font-size: 15px; }

.font16 {
  font-size: 16px; }

.font17 {
  font-size: 17px; }

.font18 {
  font-size: 18px; }

.font19 {
  font-size: 19px; }

.font20 {
  font-size: 20px; }

.font21 {
  font-size: 21px; }

.font22 {
  font-size: 22px; }

.font23 {
  font-size: 23px; }

.font24 {
  font-size: 24px; }

.semibold {
  font-weight: 600; }

.hide {
  display: none; }

.flex {
  display: flex; }

.left {
  float: left; }

.right {
  float: right; }

.centerTxt {
  text-align: center; }

.anchor {
  position: relative;
  top: -250px; }

body {
  background: #0a0a0a;
  color: white;
  padding: 20px; }

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background: lightgray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #444; }
  .loading div {
    margin-bottom: 5px; }
  .loading #loading > span {
    animation: loader 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
    border-radius: 5px;
    margin: 2px;
    height: 30px;
    display: inline-block;
    width: 5px;
    background-color: #444; }
    .loading #loading > span:nth-child(3), .loading #loading > span:nth-child(5) {
      animation-delay: -0.4s !important; }
    .loading #loading > span:nth-child(2), .loading #loading > span:nth-child(6) {
      animation-delay: -0.2s !important; }

@keyframes loader {
  0%, 100% {
    transform: scaleY(1); }
  50% {
    transform: scaleY(0.4); } }

.attribution {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background: black;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px; }

.container {
  display: flex;
  justify-content: center; }
  .container .imageContainer {
    flex: 1; }
    .container .imageContainer .dropArea {
      width: 200px;
      height: 100px;
      border: 5px dashed #ccc;
      border-radius: 5px;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      margin: 20px auto; }
      .container .imageContainer .dropArea img {
        max-width: 100%;
        max-height: 100%; }

.sliderContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .sliderContainer input[type='range'] {
    width: 300px;
    margin-bottom: 10px; }

.beforeAfterContainer {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 500px;
  overflow: hidden; }
  .beforeAfterContainer img {
    height: 500px; }
  .beforeAfterContainer .sliderImage {
    top: 0;
    left: 0;
    max-width: 100%;
    height: 500px; }
    .beforeAfterContainer .sliderImage.beforeImage {
      position: absolute;
      z-index: 1;
      opacity: 1;
      overflow: hidden;
      border-right: 1px solid black; }
  .beforeAfterContainer .sliderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); }

.compareContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.button {
  display: inline-block;
  background: #222;
  border-radius: 50px;
  padding: 16px 32px;
  width: max-content;
  transition: all .2s;
  will-change: transform;
  -webkit-font-smoothing: subpixel-antialiased;
  position: relative;
  cursor: pointer; }
  .button.disabled {
    opacity: .5;
    cursor: not-allowed; }
    .button.disabled:hover::before {
      content: 'Copy to clipboard only available for images droped in boxes';
      display: block;
      position: absolute;
      background-color: #333;
      padding: 10px 16px;
      border-radius: 5px;
      top: 0;
      right: 0;
      transform: translateY(-100%);
      opacity: 1; }
  .button.enabled:hover {
    filter: brightness(110%); }
  .button.enabled:active {
    filter: brightness(120%);
    transform: scale(0.98) perspective(1px); }

#compare {
  background-color: #0a0a0a;
  display: inline-flex;
  justify-content: center;
  gap: 32px; }
  #compare h2 {
    margin-bottom: 0; }
  #compare .compareElement {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #compare img {
    height: 500px;
    object-fit: contain; }


/*# sourceMappingURL=/src.a2b27638.css.map */